/*================================
	表組のスタイリング
=================================*/
/* 1024px以下では縦並び */
@media not all and (min-width: 1024px){
  .table__body{

    tr{
      border-top: 1px solid #eaeaea;
      border-bottom: 1px solid #eaeaea;
      }

    th{
      display: block;
      padding: 8px 12px;
      font-size: 18px;
      background: $color-sub;

      span{
        font-size: 14px;
      }
    }

    td{
      display: block;
      padding: 8px 0 20px 12px;
    }
  }
} 

.table__body{
  border-collapse: collapse;
  width: 100%;

  @include mq('lg'){
    margin-top: 24px;
  }

  th{
    text-align: left;

    @include mq('lg'){
      padding: 24px;
      background: #DCB30C;
      border: 1px solid #eaeaea;
      width: 300px;
    }
  }

  td{
    @include mq('lg'){
      padding: 24px;
      border: 1px solid #eaeaea;
    }
  }

}

/*================================
	表組、横スクロールあり
=================================*/
.table__scroll{
  overflow-x: auto;
  margin-top: 24px;
  max-width: 100%;

  table{
    min-width: 580px;
    border-bottom: 1px solid #e5e5e5;;
    border-top: 1px solid #e5e5e5;
    text-align: center;
    width: 100%;
    border-collapse: collapse;
  }

  tr{
    border-bottom: 1px solid #e5e5e5;
  }

  th{
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    min-width: 100px;
    font-weight: normal;
    padding: 20px;
    font-size: 0.9rem;
    background: $color-sub;
  }

  td{
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    min-width: 100px;
    padding: 20px;
  }
}

.-red{
  color: #ff0000;
}

.table__note{
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 14px;

  p{
    text-indent: -1em;
    padding-left: 1em;
    margin-bottom: 8px;
  }
}

dl{
  margin-bottom: 12px;
}

dt{
  font-weight: 700;
}


ol + ol{
  margin-top: 24px;
}